// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #FFFFFF;
$black: #000000;

$main: #A00008;
$main-black: #151515;
$main-white: #FAFAFA;
$main-grey: #8A8A8A;

// Specific
// =============================================================================
// Link
$link-color:       #151515;
$link-focus-color: #151515;
$link-hover-color: $main;
// Selection
$selection-text-color:       $main;
$selection-background-color: #FFFFFF;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
