// ==========================================================================
// Settings / Config
// ==========================================================================

// Context
// =============================================================================
// The current stylesheet context. Available values: frontend, editor.
@use "sass:math";

$context: frontend  !default;

// Path is relative to the stylesheets directory.
$assets-path: "../"  !default;

// Typefaces
// =============================================================================
$font-sans-serif: sans-serif;

// Typography
// =============================================================================
// Base
$font-size:   16px;
$line-height: math.div(24px, $font-size);
$font-family: $font-sans-serif;
$color:       #222222;
// Headings
$font-size-h1:  64px  !default;
$font-size-h2:  54px  !default;
$font-size-h3:  42px  !default;
$font-size-h4:  32px  !default;
$font-size-h5:  18px  !default;
$font-size-h6:  16px  !default;
$line-height-h: math.div(20px, $font-size);
// Weights
$light:  300;
$normal: 400;
$medium: 500;
$bold:   700;

// Transitions
// =============================================================================
$speed: .8s;
$easing: cubic-bezier(.4, 0, 0, 1);

// Spacing Units
// =============================================================================
$unit:       60px;
$unit-small: 30px;

// Container
// ==========================================================================
$container-width: 1440px;
$padding:         $unit-small;

// Breakpoints
// =============================================================================
$from-tiny:     500px              !default;
$to-tiny:       $from-tiny - 1     !default;
$from-small:    700px              !default;
$to-small:      $from-small - 1    !default;
$from-medium:   992px             !default;
$to-medium:     $from-medium - 1   !default;
$from-large:    1200px             !default;
$to-large:      $from-large - 1    !default;
$from-big:      1400px             !default;
$to-big:        $from-big - 1      !default;
$from-huge:     1600px             !default;
$to-huge:       $from-huge - 1     !default;
$from-enormous: 1800px             !default;
$to-enormous:   $from-enormous - 1 !default;
$from-gigantic: 1920px             !default;
$to-gigantic:   $from-gigantic - 1 !default;
$from-colossal: 2400px             !default;
$to-colossal:   $from-colossal - 1 !default;
