<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- If you delete this meta tag, Half Life 3 will never be released. -->
        <meta name="viewport" content="width=device-width" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{title}}</title>

        <style>
            /* ------------------------------------- 
            GLOBAL 
            ------------------------------------- */
            * { 
                margin:0;
                padding:0;
            }
            * { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

            img { 
                max-width: 100%; 
            }
            .collapse {
                margin:0;
                padding:0;
            }
            body {
                -webkit-font-smoothing:antialiased; 
                -webkit-text-size-adjust:none; 
                width: 100%!important; 
                height: 100%;
            }
            table.body-wrap { width: 100%;}
            /* ------------------------------------- 
            HEADER & Footer
            ------------------------------------- */
            table.head-wrap, table.footer-wrap { width: 100%;}
            .header.container { background-color: #F4F4F4; }
            .footer.container { background-color: #333333; }
            .header.container table td.logo { padding: 40px 0 30px 0; display:block!important; text-align: center;}
            .footer.container table td.logo { padding: 10px 0 10px 0; display:block!important; text-align: center;}
            .header.container table td.date { padding: 0 0 20px 0; font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 22px; color: #888888; letter-spacing: 1px; text-transform: uppercase; text-align: center;}
            table.footer-wrap { width: 100%;	clear:both!important;
            }
            /* --------------------------------------------------- 
            RESPONSIVENESS
            Nuke it from orbit. It's the only way to be sure. 
            ------------------------------------------------------ */

            /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
            .container {
                display:block!important;
                max-width:600px!important;
                margin:0 auto!important; /* makes it centered */
                clear:both!important;
            }

            /* This should also be a block element, so that it will fill 100% of the .container */
            .content {
                padding:30px 15px;
                max-width:600px;
                margin: -2px auto -2px;
                display:block; 
            }

            /* Let's make sure tables in the content area are 100% wide */
            .content table { width: 100%; }

        </style>
    </head>
    <body bgcolor="#E1E1E1">
        <div class="container">
            <table class="head-wrap" bgcolor="#F4F4F4">
                <tr>
                    <td class="header container">

                        <div class="content">
                            <table bgcolor="#F4F4F4">
                                <tr>
                                    <td class="logo">
                                        <img src="{{logoPath}}" alt="" width="{{logoWidth}}" height="{{logoHeight}}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="date">
                                        {{date}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="body-wrap" bgcolor="#FFFFFF">
                <tr>
                    <td class="container"  bgcolor="#FFFFFF">
                        <div class="content">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="90%" style="border-collapse: collapse;">
                                {{#each fields}}    
                                <tr>
                                    <td width="100%" align="left" style="padding: 15px 5px 15px 0; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666666;">
                                        <fieldset style="border: 3px solid #eaeaea; padding: 10px 0px;">
                                            <legend style="margin: 0 0 0 10px;padding: 0 10px;font-size: 12px;font-weight: bold; letter-spacing: 1px; text-transform: uppercase;color:#c7c7c7;">
                                                {{name}}
                                            </legend>
                                            <p style="margin: 0 0 0 20px;padding: 10px 0 15px;font-size:14px;letter-spacing:1px;line-height:1.5;">
                                                {{value}}
                                            </p>
                                        </fieldset>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="footer-wrap" bgcolor="#333333">
                <tr>
                    <td class="footer container">
                        <div class="content">
                            <table bgcolor="#333333">
                                <tr>
                                    <td class="logo" style="color: #777777; letter-spacing: 3px; text-transform: uppercase; font-size: 12px;">
                                        Propulsé par <a href="https://www.escalademarketing.com/" target="_blank" style="text-decoration: none; color: #777777; font-weight: bold;">ESC&nbsp;Marketing</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>