// ==========================================================================
// Base / Fonts
// ==========================================================================

// @include font-face(
//     $font-foobar,
//     "fonts/Foobar/Regular"
// ) {
//     font-style:  normal;
//     font-weight: 400;
// }

/* FONTS ***********************/
@font-face {
    font-family: "geogrotesque_ullgultralight";
    src: url("~assets/fonts/geogtq-ul-webfont.eot");
    src: url("~assets/fonts/geogtq-ul-webfont.eot?#iefix") format("embedded-opentype"),
         url("~assets/fonts/geogtq-ul-webfont.woff2") format("woff2"),
         url("~assets/fonts/geogtq-ul-webfont.woff") format("woff"),
         url("~assets/fonts/geogtq-ul-webfont.ttf") format("truetype"),
         url("~assets/fonts/geogtq-ul-webfont.svg#geogrotesque_ullgultralight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "geogrotesque_lglight";
    src: url("~assets/fonts/geogtq-lg-webfont.eot");
    src: url("~assets/fonts/geogtq-lg-webfont.eot?#iefix") format("embedded-opentype"),
         url("~assets/fonts/geogtq-lg-webfont.woff2") format("woff2"),
         url("~assets/fonts/geogtq-lg-webfont.woff") format("woff"),
         url("~assets/fonts/geogtq-lg-webfont.ttf") format("truetype"),
         url("~assets/fonts/geogtq-lg-webfont.svg#geogrotesque_lglight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "geogrotesque_mdmedium";
    src: url("~assets/fonts/geogtq-md-webfont.eot");
    src: url("~assets/fonts/geogtq-md-webfont.eot?#iefix") format("embedded-opentype"),
         url("~assets/fonts/geogtq-md-webfont.woff2") format("woff2"),
         url("~assets/fonts/geogtq-md-webfont.woff") format("woff"),
         url("~assets/fonts/geogtq-md-webfont.ttf") format("truetype"),
         url("~assets/fonts/geogtq-md-webfont.svg#geogrotesque_mdmedium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "geogrotesque_rgregular";
    src: url("~assets/fonts/geogtq-rg-webfont.eot");
    src: url("~assets/fonts/geogtq-rg-webfont.eot?#iefix") format("embedded-opentype"),
         url("~assets/fonts/geogtq-rg-webfont.woff2") format("woff2"),
         url("~assets/fonts/geogtq-rg-webfont.woff") format("woff"),
         url("~assets/fonts/geogtq-rg-webfont.ttf") format("truetype"),
         url("~assets/fonts/geogtq-rg-webfont.svg#geogrotesque_rgregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "geogrotesque_smbdsemibold";
    src: url("~assets/fonts/geogtq-sb-webfont.eot");
    src: url("~assets/fonts/geogtq-sb-webfont.eot?#iefix") format("embedded-opentype"),
         url("~assets/fonts/geogtq-sb-webfont.woff2") format("woff2"),
         url("~assets/fonts/geogtq-sb-webfont.woff") format("woff"),
         url("~assets/fonts/geogtq-sb-webfont.ttf") format("truetype"),
         url("~assets/fonts/geogtq-sb-webfont.svg#geogrotesque_smbdsemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}
$font-family: "geogrotesque_rgregular", sans-serif;

$font-ultralight: "geogrotesque_ullgultralight", sans-serif;
$font-light: "geogrotesque_lglight", sans-serif;
$font-medium: "geogrotesque_mdmedium", sans-serif;
$font-semibold: "geogrotesque_smbdsemibold", sans-serif;