<template>
    <section id="contact-form" class="cta-form" data-scroll-section>
        <div class="o-container">
            <div class="o-layout -flex -middle">
                <div class="o-layout_item u-1/2">
                    <div class="title-block">
                        <h3>
                            <span class="u-anim-block u-anim" data-scroll data-scroll-repeat>
                                Contactez-nous
                            </span>
                        </h3>
                        <h2>
                            <span class="u-anim-block u-anim" data-scroll data-scroll-repeat>
                                Obtenir une
                            </span>
                            <span class="u-anim-block u-anim delay-1" data-scroll data-scroll-repeat>
                                estimation
                            </span>
                            <span class="u-anim-block u-anim delay-2" data-scroll data-scroll-repeat>
                                gratuite
                            </span>
                        </h2>
                    </div>
                </div>
                <div class="o-layout_item u-1/2">
                <ValidationObserver v-slot="{ handleSubmit }">
                    <div v-if="success" class="form-succes-msg">
                    <h2>
                        {{ $t("form.validation.successTitle") }}
                    </h2>
                    <p>
                        {{ $t("form.validation.success") }}
                    </p>
                    </div>
                    <form
                id="contact-form"
                v-else
                @submit.prevent="handleSubmit(onSubmit)"
                >
                <div class="o-layout -gutter-small">
                <div v-if="errored" class="form-send-error">
                    {{ $t("form.validation.errored") }}
                </div>
                    <div class="o-layout_item u-1/2">
                        <div class="input-wrapper">
                    <ValidationProvider
                        :name="$t('form.input.firstname')"
                        rules="required|alpha_spaces"
                        v-slot="{ classes, errors }"
                    >
                        <div class="control" :class="classes">
                        <input
                            v-model="formData.firstname"
                            type="text"
                            :placeholder="$t('form.input.firstname')"
                        />
                        <span class="input-stroke" />
                        <span v-show="errors.length > 0" class="form-error">{{
                            errors[0]
                        }}</span>
                        </div>
                    </ValidationProvider>
                        </div>
                    </div>

                    <div class="o-layout_item u-1/2">
                        <div class="input-wrapper">
                    <ValidationProvider
                        :name="$t('form.input.lastname')"
                        rules="required|alpha_spaces"
                        v-slot="{ classes, errors }"
                    >
                        <div class="control" :class="classes">
                        <input
                            v-model="formData.lastname"
                            type="text"
                            :placeholder="$t('form.input.lastname')"
                        />
                        <span class="input-stroke" />
                        <span v-show="errors.length > 0" class="form-error">{{
                            errors[0]
                        }}</span>
                        </div>
                    </ValidationProvider>
                        </div>
                    </div>

                        <div class="o-layout_item u-1/2">
                            <div class="input-wrapper">
                                <ValidationProvider
                                    :name="$t('form.input.city')"
                                    rules="required|alpha_spaces"
                                    v-slot="{ classes, errors }"
                                >
                                    <div class="control" :class="classes">
                                    <input
                                        v-model="formData.city"
                                        type="text"
                                        :placeholder="$t('form.input.city')"
                                    />
                                    <span class="input-stroke" />
                                    <span v-show="errors.length > 0" class="form-error">{{
                                        errors[0]
                                    }}</span>
                                    </div>
                                </ValidationProvider>
                            </div>
                        </div>

                        <div class="o-layout_item u-1/2">
                            <div class="input-wrapper">
                                <ValidationProvider
                                    :name="$t('form.input.email')"
                                    rules="required|email"
                                    v-slot="{ classes, errors }"
                                >
                                    <div class="control" :class="classes">
                                    <input
                                        v-model="formData.email"
                                        type="email"
                                        :placeholder="$t('form.input.email')"
                                    />
                                    <span class="input-stroke" />
                                    <span v-show="errors.length > 0" class="form-error">{{
                                        errors[0]
                                    }}</span>
                                    </div>
                                </ValidationProvider>
                            </div>
                        </div>


                        <div class="o-layout_item u-1/2">
                            <div class="input-wrapper">
                                <ValidationProvider
                                    :name="$t('form.input.phone')"
                                    rules="required"
                                    v-slot="{ classes, errors }"
                                >
                                    <div class="control" :class="classes">
                                    <input
                                        v-model="formData.phone"
                                        type="tel"
                                        :placeholder="$t('form.input.phone')"
                                    />
                                    <span class="input-stroke" />
                                    <span v-show="errors.length > 0" class="form-error">{{
                                        errors[0]
                                    }}</span>
                                    </div>
                                </ValidationProvider>
                            </div>
                        </div>

                        <div class="o-layout_item u-1/2">
                            <div class="input-wrapper">
                                <select name="period" v-model="formData.rappel">
                                    <option value="default">
                                    {{ $t('form.input.rappel.default') }}
                                    </option>
                                    <option
                                    v-for="rappel in $t('form.input.rappel.list')"
                                    :key="rappel.index"
                                    :value="rappel"
                                    >
                                    {{ rappel }}
                                    </option>
                                </select>
                                <span class="input-stroke" />
                            </div>
                        </div>

                        <div class="o-layout_item u-1">
                            <div class="input-wrapper">
                            <textarea name="message" :placeholder="$t('form.input.message')" v-model="formData.message" />
                            <span class="input-stroke" />
                            </div>
                        </div>

                        <div class="o-layout_item u-1">
                            <button class="button --light-btn" type="submit">
                                <span class="--icon"><i class="fas fa-angle-right"></i></span>
                                <span class="--text --small">{{ $t('form.input.btn') }}</span>
                            </button>
                        </div>
                    </div>
                    </form>
                </ValidationObserver>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            success: false,
            errored: false,
            score: 0,
            formData: {
                firstname: null,
                lastname: null,
                email: null,
                phone: null,
                city: null,
                rappel: "default",
                message: null,
            },
        };
    },
    async mounted() {
        try {
            await this.$recaptcha.init();
        } catch (e) {
            console.log(`RECAPTCHA INIT: ${e}`);
        }
    },
    beforeDestroy() {
        this.$recaptcha.destroy();
    },
    computed: {
        availableLocales() {
            return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale);
        }
    },
    methods: {
        async onSubmit() {
            const axios = require("axios");
            const apiUrl =
        "https://northamerica-northeast1-philippe-albert-electrique.cloudfunctions.net/sendRecaptcha";
            const token = await this.$recaptcha.execute("login");

            try {
                const res = await axios.get(`${apiUrl}?token=${token}`);
                this.score = res.data.score;
                if (this.score > 0.5) {
                    await this.saveMessage();
                }
            } catch (e) {
                this.errored = true;
                console.log(e);
            }
        },
        async saveMessage() {
            try {
                /* throw "wzup"; */
                await this.$fire.firestore
                    .collection("contacts")
                    .add({
                        ...this.formData,
                        timestamp: this.$fireModule.firestore.Timestamp.fromDate(
                            new Date()
                        ),
                        language: "fr",
                        score: this.score,
                    })
                    .then((res) => {
                        this.success = true;
                        this.errored = false;
                    });
            } catch (e) {
                console.error(e);
                this.errored = true;
            }
        },
    },
};
</script>

<style lang="scss" scoped>
@import "../../assets/css/main";

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: var(--licorice);
  font-size: 1rem;
  opacity: 1;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--alabaster);
  border: 2px solid var(--white);
  box-shadow: 6px 6px 16px rgba($color: #000000, $alpha: 0.07);
  color: var(--licorice);
  font-size: 1rem;
  outline: none;
  margin: 0 0 2rem;
  padding: 1.5rem 1.875rem;
  width: 100%;

  option {
    color: var(--licorice);
    font-size: 1rem;
  }
}

.input-wrapper {
  position: relative;

  &::after {
    background-color: var(--alabaster);
    content: "";
    z-index: 2;
  }
}

.input-wrapper::after,
.input-stroke {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
}

.input-stroke {
  background-color: var(--mainColor);
  height: 2px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1);
  z-index: 3;
}

input:focus + .input-stroke,
select:focus + .input-stroke,
textarea:focus + .input-stroke {
  transform: scaleX(1);
}

form {
    .failed {
        input[type="text"]:focus, input[type="tel"]:focus, select:focus {
            border-color: $main;
            transition: border-color $speed $easing;
        }
    }
}

.form-error {
    color: var(--mainColor);
    position: absolute;
    bottom: -1.35rem;
    left: 0;
    text-align: left;
    font-size: 12px;
    transition: all $speed $easing;
    letter-spacing: 1px;
}

.form-send-error {
    background: var(--mainColor);
    border-radius: 3px;
    color: $white;
    display: block;
    font-size: 14px;
    margin: 0 0 2rem;
    padding: 2rem 1rem;
    text-align: center;
    transition: all $speed $easing;
    width: 100%;
}

.form-succes-msg {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    margin: 0 0 2rem;
    padding: 64px 36px 72px;
    position: relative;
    text-align: center;
    width: 100%;

    h2 {
        color: var(--mainColor);
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 18px;
    }

    p {
        color: #383838;
        font-size: 17px;
    }

    &:after {
        background: url("https://firebasestorage.googleapis.com/v0/b/philippe-albert-electrique.appspot.com/o/images%2Flogo%2Ficon-check.svg?alt=media&token=f4bf7592-e128-489a-b4ca-b6c4e0ea4749") no-repeat center center;
        background-size: 50px auto;
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: auto;
        border: 4px solid #EDEDED;
        background-color: var(--mainColor);
        font-size: 80px;
        line-height: 88px;
    }
}

button {
  appearance: none;
  border: none;
  outline: none;
}

.cta-form {
    background-color: var(--white);
    padding: 18rem 0 14rem;

    &::before {
        background-color: var(--mercury);
        content: "";
        height: 100%;
        width: 45%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.title-block {
    margin: auto;
    max-width: 32rem;

    h3 {
        font-family: var(--font-family-geogrotesque-light);
        font-size: rem(24px);
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: 0 0 2rem 6px;
    }
    h2 {
        font-size: rem(84px);
        line-height: 1.125;
    }
}
</style>