<template>
    <nav class="c-nav">
      <a href="#header" class="c-nav_logo">
        <img src="" alt="">
      </a>

      <ul class="c-nav_desktop">
        <li class="--desktop">
          <a href="#" class="tel">{{ $t('nav.call') }} <span>{{ $t('settings.customerPhone') }}</span></a>
        </li>
        <li>
          <nuxt-link
            v-for="locale in availableLocales" :key="locale.code" :to="switchLocalePath(locale.code)">
            {{ locale.nameShort }}
          </nuxt-link>
        </li>
      </ul>
    </nav>
</template>

<script>
export default {
    name: "TheNavigator",
    computed: {
        availableLocales() {
            return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale);
        }
    },
};
</script>

<style lang="scss" scoped>
.c-nav {
    background-color: grey;
    position: fixed;
    z-index: 9999;
    width: 100%;
    left: 0;
    right: 0;
    height: rem(80px);
    top: 0;

}
</style>