.c-heading {
    line-height: $line-height-h;
    margin-bottom: rem(30px);

    &.-h1 {
        font-size: rem($font-size-h1);
    }

    &.-h2 {
        font-size: rem($font-size-h2);
    }

    &.-h3 {
        font-size: rem($font-size-h3);
    }

    &.-h4 {
        font-size: rem($font-size-h4);
    }

    &.-h5 {
        font-size: rem($font-size-h5);
    }

    &.-h6 {
        font-size: rem($font-size-h6);
    }
}

.fs {
    &-64 {
        font-size: rem(64px);
    }
    &-58 {
        font-size: rem(58px);
    }
    &-54 {
        font-size: rem(54px);
    }
    &-42 {
        font-size: rem(42px);
    }
    &-34 {
        font-size: rem(34px);
    }
    &-32 {
        font-size: rem(32px);
    }
    &-28 {
        font-size: rem(28px);
    }
    &-26 {
        font-size: rem(26px);
    }
    &-24 {
        font-size: rem(24px);
    }
    &-20 {
        font-size: rem(20px);
    }
    &-18 {
        font-size: rem(18px);
    }
    &-16 {
        font-size: rem(16px);
    }
}

.fw {
    &-bold {
        font-family: $font-semibold;
    }
    &-medium {
        font-family: $font-medium;
        font-weight: normal;
    }
    &-light {
        font-family: $font-light;
        font-weight: normal;
    }
    &-reg {
        font-family: $font-family;
        font-weight: normal;
    }
}

.fc {
    &-grey {
        color: $main-grey;
    }
    &-white {
        color: $white;
    }
    &-black {
        color: $black;
    }
    &-main {
        color: $main;
    }
}

.t {
    &-uppercase {
        text-transform: uppercase;
    }
}