<template>
  <div
    v-locomotive="{ options }"
    class="js-locomotive"
  >
    <slot />
  </div>
</template>

<script>
import { store, mutations } from "~/store/app.js";
const OFFSET = 100;

export default {
    name: "LocomotiveScroll",
    directives: {
        locomotive: {
            inserted (el, binding, vnode) {
                vnode.context.locomotive = new vnode.context.LocomotiveScroll({ el, ...binding.value.options });
                vnode.context.locomotive.on("scroll", (e) => {
                    vnode.context.onScroll(e);
                    vnode.context.$emit("scroll");
                });
                vnode.context.$emit("init");
            },
            unbind (el, binding, vnode) {
                vnode.context.locomotive.destroy();
                vnode.context.locomotive = undefined;
            }
        },
    },
    props: {
        gettedOptions: {
            type: Object,
            default: () => {}
        }
    },
    data: () => ({
        locomotive: undefined,
        defaultOptions: {
            smooth: true,
            getSpeed: true,
            getDirection: true,
            reloadOnContextChange: true
        }
    }),
    computed: {
        options () {
            return { ...this.defaultOptions, ...this.gettedOptions };
        },
        isNavSmall () {
            return store.isNavSmall;
        }
    },
    mounted () {
        setTimeout(() => {
            this.locomotive.update();
        }, 1000);
    },
    methods: {
        onScroll (e) {
            if (typeof this.$store._mutations["app/setScroll"] !== "undefined") {
                this.$store.commit("app/setScroll", {
                    isScrolling: this.locomotive.scroll.isScrolling,
                    limit: e.limit,
                    ...e.scroll // x, y
                });
            }
            this.scrollPosition = e.scroll.y;
            // console.log('scrollPosition + na', this.scrollPosition)
            if (this.scrollPosition < OFFSET) {
                if (this.isNavSmall) {
                    // console.log("grow");
                    mutations.growNav();
                }
            } else if (!this.isNavSmall) {
                // console.log("shrink");
                mutations.shrinkNav();
            }
        },
        onResize () {
            this.locomotive.update();
        }
    }
};
</script>

<style lang="css">
  @import './style.css';
</style>
