// ==========================================================================
// Template / Client
// ==========================================================================
* {
    box-sizing: border-box;
}

body {
    background-color: $main-white;
    font-family: $font-family;
    position: relative;
}

html {
    font-size: 16px;

    @media (min-width: $from-small) {
        font-size: 11px;
    }

    @media (min-width: $from-large) {
        font-size: .8vw;
    }

    @media (min-width: $from-big) {
        font-size: .9vw;
    }

    @media (min-width: $from-gigantic) {
        font-size: .82vw;
    }
}

html.is-loading {
    overflow: hidden;

    body {
        height: 100vh;
    }

    #js-scroll {
        min-height: 100vh;
    }
}

html.has-scroll-smooth {
    overflow: hidden;

    body {
        height: 100vh;
    }

    #js-scroll {
        min-height: 100vh;
    }
}

#js-scroll {
    position: relative;
    overflow: hidden;
    width: 100%;
}

a {
    transition: all $speed $easing;
}

[data-scroll-section] {
    display: block;
    position: relative;
    z-index: 2;
}

.page-enter-active,
.page-leave-active {
    transition-duration: $speed * 4;
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        position: fixed;
        top: 0;
        z-index: 2;
        display: block;
        width: 70%;
        height: 100%;
        transition-property: opacity, transform;
        transition-timing-function: ease-in-out;
        z-index: 99999;
    }

    &::before {
        background-color: rgb(16, 16, 16);
        left: -15%;
        transform: skewX(-14.85deg);
    }

    &::after {
        background-color: rgb(16, 16, 16);
        right: -15%;
        transform: skewX(-14.85deg);
    }
}

.page-leave {
    overflow: hidden;
    &::before,
    &::after {
        transform: skewX(-14.85deg) scaleX(0);
    }
}

.page-leave-active {
    &::before,
    &::after {
        transition-duration: $speed * 2;
        transition-duration: $speed * 2;
        transition-delay: $speed;
    }
}

.page-leave-to {
    .o-layout_item {
        @include transition;
    }

    &::before,
    &::after {
        transform: skewX(-14.85deg) scale(1);
    }

    &::before {
        transform-origin: left;
    }

    &::after {
        transform-origin: right;
    }
}

.page-enter {
    overflow: hidden;

    &::before,
    &::after {
        transform: skewX(-14.85deg) scaleX(1);
    }
}

.page-enter-active {
    &::before {
        transition-duration: $speed * 2;
        transition-delay: $speed;
    }

    &::after {
        transition-duration: $speed * 2;
        transition-delay: $speed;
    }
}

.page-enter-to {

    &::before,
    &::after {
        transform: skewX(-14.85deg) scaleX(0);
    }
    &::before {
        transform-origin: left;
    }
    &::after {
        transform-origin: right;
    }
}


.button {
    background: var(--licorice);
    border-radius: rem(38px);
    display: flex;
    position: relative;
    transition: background $speed $easing;
    letter-spacing: 1.25px;

    .--text {
        color: var(--licorice);
        padding-left: 1rem;
        transition: color $speed $easing;
    }

    .--icon {
        background-color: var(--mainColor);
        border-radius: 1.5rem;
        box-shadow: 0 0 12px #ff000d73;
        height: 2.25rem;
        position: relative;
        width: 2.25rem;

        i {
            font-size: 1rem;
            line-height: 2.25rem;
            color: white;
            margin-left: 3px;
            text-shadow: -1px 0px 3px white;
        }
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    &:before {
        border-radius: rem(38px);
        transition: box-shadow $speed $easing;
    }

    &:after {
        border-radius: rem(38px);
        transition: box-shadow $speed $easing;
    }

    &.--dark-btn {
        height: rem(70px);
        padding: 1rem 2rem 1rem 1.5rem;
        font-size: 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        @media (min-width: $from-medium) {
            font-size: 1.35rem;
        }

        .--text {
            color: white;
            padding-left: 1rem;
            transition: color $speed $easing;

            &.--small {
                font-size: 1rem;
            }
        }

        &:before {
            box-shadow: rem(-6px) rem(-6px) rem(10px) #212020;
        }

        &:after {
            box-shadow: rem(6px) rem(6px) rem(16px) #0000007a;
        }

        &:hover {
            background: var(--white);

            .--text {
                color: var(--mainColor);
            }
            
            &:before {
                box-shadow: rem(-3px) rem(-3px) rem(6px) #212020;
            }

            &:after {
                box-shadow: rem(3px) rem(3px) rem(6px) #0000007a;
            }

        }
    }

    &.--light-btn {
        background: var(--alabaster);
        height: rem(70px);
        padding: 1rem 2rem 1rem 1.5rem;
        font-size: 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;

        .--text {
            color: var(--licorice);
        }

        &:before {
            box-shadow: -0.375rem -0.375rem 0.625rem #ffffff;
        }

        &:after {
            box-shadow: 0.375rem 0.375rem 1rem #00000012;
        }

        &:hover {
            background: var(--licorice);

            .--text {
                color: var(--white);
            }
            
            &:before {
                box-shadow: rem(-3px) rem(-3px) rem(6px) transparent;
            }

            &:after {
                box-shadow: rem(3px) rem(3px) rem(6px) transparent;
            }

        }
    }
}
.-hover-link {
    transition: color $speed $easing;

    * {
        transition: color $speed $easing;
    }

    &:hover {
        color: var(--mainColor) !important;

        * {
            color: var(--mainColor) !important;
        }
    }
}
.-hover-split {
    background-color: var(--mainColor);
    position: relative;

    .-hover-bg {
        overflow: hidden;
        position: absolute;
        height: 100%;
        width: 100%;

        &::before,
        &::after {
            background-color: var(--white);
            content: "";
            position: absolute;
            width: 70%;
            height: 100%;
            top: 0;
            transform: skewX(-14.85deg);
            transition: width ($speed * 2) $easing;
            z-index: 1;
        }

        &::before {
            left: -15%;
        }

        &::after {
            right: -15%;
        }
    }

    &:hover {
        .-hover-bg {
            &::before,
            &::after {
                width: 0;
            }
        }
    }
}

.img-block {
    position: relative;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 105%;
        width: 85%;
    }

    .logo-garantie {
        height: 16.75rem;
        position: absolute;
        left: -10rem;
        top: calc(50% - 8.365rem);
        width: 16.875rem;
    }
}

.title-block {
    margin-left: 4.25rem;
    position: relative;

    @media (min-width: $from-medium) {
        margin-left: 6.25rem;
    }

    &::before {
        content: "";
        position: absolute;
        width: 0.75rem;
        height: 6rem;
        top: 50%;
        left: -4rem;
        background: var(--mainColor);
        transform: skewX(-14.85deg) translateY(-50%);
        border-radius: 4px;

        @media (min-width: $from-medium) {
            width: 1rem;
            height: 12rem;
            left: -6rem;
        }
    }
}

.list-cta {
    display: flex;
    margin-top: 2rem;

    li:nth-child(2) {
        padding-left: 2.5rem;
    }

    a {
        align-items: center;
        display: flex;

        .img {
            img {
                max-width: 6rem;
                object-fit: contain;
            }
        }

        .txt {
            padding-left: 2rem;

            .small,
            .big {
                color: var(--white);
                display: block;
                text-transform: uppercase;
                transition: color $speed $easing;
            }

            .big {
                font-family: var(--font-family-geogrotesque-bold);
                font-size: 2.3125rem;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.60px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -2.5rem;
                    background-color: var(--licorice);
                    height: 2px;
                    width: 1.865rem;
                }
            }

            .small {
                font-family: var(--font-family-geogrotesque-regular);
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 3px;
            }
        }

        &:hover {
            .txt {
                .big {
                    color: var(--mainColor);
                }
            }
        }
    }
}

.u-anim-block {
    display: inline-block;
}

@media (min-width: $from-medium) {
.u-anim {
    transform: translateY(3.75rem);
    opacity: 0;
    transition: transform $speed $easing, opacity $speed $easing;
}

.u-anim.is-inview[data-scroll] {
    transform: translateY(0);
    opacity: 1;
    transition-duration: $speed;
}

.u-anim.delay-1.is-inview[data-scroll] {
    transition-delay: .1s;
}

.u-anim.delay-2.is-inview[data-scroll] {
    transition-delay: .2s;
}

.u-anim.delay-3.is-inview[data-scroll] {
    transition-delay: .3s;
}

.u-anim.delay-4.is-inview[data-scroll] {
    transition-delay: .4s;
}

.u-anim.delay-5.is-inview[data-scroll] {
    transition-delay: .5s;
}

.u-anim.delay-6.is-inview[data-scroll] {
    transition-delay: .6s;
}

.u-anim.delay-7.is-inview[data-scroll] {
    transition-delay: .7s;
}

.u-anim.delay-8.is-inview[data-scroll] {
    transition-delay: .8s;
}

.u-anim.delay-9.is-inview[data-scroll] {
    transition-delay: .9s;
}

.u-anim.delay-10.is-inview[data-scroll] {
    transition-delay: 1s;
}
}

.logo-garantie.is-inview .u-anim-rotate {
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
    transform-origin: center center;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}