@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");

@font-face {
  font-family: "Geogrotesque-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://anima-uploads.s3.amazonaws.com/5c1cbd4983f3a1000aed403c/Geogtq-Lg.otf") format("opentype");
}

@font-face {
  font-family: "Geogrotesque-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://anima-uploads.s3.amazonaws.com/59682119852f6a000d5bf919/Geogtq-Sb.otf") format("opentype");
}

@font-face {
  font-family: "Geogrotesque-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://anima-uploads.s3.amazonaws.com/59682119852f6a000d5bf919/Geogtq-Bd.otf") format("opentype");
}

@font-face {
  font-family: "Geogrotesque-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://anima-uploads.s3.amazonaws.com/59682119852f6a000d5bf919/Geogtq-Md.otf") format("opentype");
}

@font-face {
  font-family: "Geogrotesque-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://anima-uploads.s3.amazonaws.com/59682119852f6a000d5bf919/Geogtq-Rg.otf") format("opentype");
}

.overlay {
  position: absolute;
  opacity: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
.overlay.animate-appear {
  opacity: 0;
  display: block;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
}
.overlay.animate-disappear {
  opacity: 1;
  display: block;
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
}
.screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.screen div {
  -webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
