:root {
  --alabaster: #fafafa;
  --black: #000000;
  --dove-gray: #707070;
  --eerie-black: #1c1c1c;
  --eerie-black-2: #1f1e1e;
  --eerie-black-3: #191919;
  --licorice: #151515;
  --licorice-2: #141414;
  --mercury: #e5e5e5;
  --mainColor: #a00008;
  --shark: #252525;
  --silver-sand: #c2c2c2;
  --white: #ffffff;

  --font-size-xsm: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-l: 1.25rem;
  --font-size-m: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 1.75rem;
  --font-size-xxxxl: 2rem;
  --font-size-64: 2.125rem;
  --font-size-xxxxxl: 2.25rem;
  --font-size-xxxxxxl: 2.5rem;
  --font-size-xxxxxxxl: 2.625rem;
  --font-size-xxxxxxxxl: 3rem;

  --font-family-geogrotesque: "Geogrotesque", Helvetica;
  --font-family-geogrotesque-bold: "Geogrotesque-Bold", Helvetica;
  --font-family-geogrotesque-light: "Geogrotesque-Light", Helvetica;
  --font-family-geogrotesque-medium: "Geogrotesque-Medium", Helvetica;
  --font-family-geogrotesque-regular: "Geogrotesque-Regular", Helvetica;
  --font-family-geogrotesque-semibold: "Geogrotesque-SemiBold", Helvetica;
  --font-family-geogrotesque-thin: "Geogrotesque-Thin", Helvetica;
  --font-family-open_sans: "Open Sans", Helvetica;
}

@media (min-width: 992px) {
  :root {
    --font-size-xsm: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.625rem;
    --font-size-xxxl: 2rem;
    --font-size-xxxxl: 2.125rem;
    --font-size-64: 4rem;
    --font-size-xxxxxl: 5.250rem;
    --font-size-xxxxxxl: 5.75rem;
    --font-size-xxxxxxxl: 9rem;
    --font-size-xxxxxxxxl: 16.813rem;
  }
}

.geogrotesque-light-white-16px {
  color: var(--white);
  font-family: var(--font-family-geogrotesque-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.geogrotesque-light-white-16px-2 {
  color: var(--white);
  font-family: var(--font-family-geogrotesque);
  font-size: var(--font-size-m);
}

.geogrotesque-bold-sangria-16px {
  color: var(--mainColor);
  font-family: var(--font-family-geogrotesque-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.geogrotesque-medium-white-26px {
  color: var(--white);
  font-family: var(--font-family-geogrotesque-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.geogrotesque-regular-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-regular-normal-dove-gray-34px {
  color: var(--dove-gray);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-light-white-26px {
  color: var(--white);
  font-family: var(--font-family-geogrotesque-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}

.geogrotesque-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-geogrotesque-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.geogrotesque-regular-normal-licorice-20px {
  color: var(--licorice);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-bold-sangria-32px {
  color: var(--mainColor);
  font-family: var(--font-family-geogrotesque-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.geogrotesque-semi-bold-sangria-32px {
  color: var(--mainColor);
  font-family: var(--font-family-geogrotesque-semibold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.geogrotesque-regular-normal-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-medium-sangria-16px {
  color: var(--mainColor);
  font-family: var(--font-family-geogrotesque-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.geogrotesque-regular-normal-licorice-84px {
  color: var(--licorice);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-regular-normal-sangria-269px {
  color: var(--mainColor);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-xxxxxxxxl);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-medium-white-32px {
  color: var(--white);
  font-family: var(--font-family-geogrotesque-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.geogrotesque-light-licorice-24px {
  color: var(--licorice);
  font-family: var(--font-family-geogrotesque-light);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.geogrotesque-normal-licorice-34px {
  color: var(--licorice);
  font-family: var(--font-family-geogrotesque);
  font-size: var(--font-size-xxxxl);
}

.geogrotesque-semi-bold-licorice-34px {
  color: var(--licorice);
  font-family: var(--font-family-geogrotesque-semibold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.geogrotesque-light-sangria-16px {
  color: var(--mainColor);
  font-family: var(--font-family-geogrotesque-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.geogrotesque-semi-bold-sangria-37px {
  color: var(--mainColor);
  font-family: var(--font-family-geogrotesque-semibold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.geogrotesque-regular-normal-eerie-black-12px {
  color: var(--eerie-black);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-xsm);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-regular-normal-licorice-144px {
  color: var(--licorice);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-xxxxxxxl);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-medium-black-16px {
  color: var(--black);
  font-family: var(--font-family-geogrotesque-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.geogrotesque-normal-silver-sand-64px {
  color: var(--silver-sand);
  font-family: var(--font-family-geogrotesque);
  font-size: var(--font-size-64);
}

.geogrotesque-regular-normal-silver-sand-64px {
  color: var(--silver-sand);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-64);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-regular-normal-silver-sand-92px {
  color: var(--silver-sand);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-xxxxxxl);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-semi-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-geogrotesque-semibold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.opensans-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.opensans-normal-licorice-16px {
  color: var(--licorice);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-regular-normal-shark-14px {
  color: var(--shark);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: 400;
}

.opensans-normal-dove-gray-16px {
  color: var(--dove-gray);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-regular-normal-white-84px {
  color: var(--white);
  font-family: var(--font-family-geogrotesque-regular);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.geogrotesque-semi-bold-dove-gray-32px {
  color: var(--dove-gray);
  font-family: var(--font-family-geogrotesque-semibold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.border-1px-white {
  border: 1px solid var(--white);
}

.border-1px-licorice-2 {
  border: 1px solid var(--licorice-2);
}