<template>
  <section id="error">
    <div class="o-container">
      <div class="o-layout">
        <div v-if="error.statusCode === 404" class="o-layout_item u-1">
          <h1 class="fs-error fc-cta">
            404
          </h1>
          <p class="fs-32">Désolé la page demandée n'existe pas.</p>

          <nuxt-link :to="localePath('/')" class="button --light-btn">
            <span class="--icon"><i class="fas fa-angle-right"></i></span>
            <span class="--text">{{ $t('cta.backHome') }}</span>
          </nuxt-link>
        </div>
        <div v-else class="o-layout_item u-1">
          <h1 class="fc-cta">
            Désolé, une erreur est survenue.
          </h1>
          <nuxt-link :to="localePath('/')" class="button --light-btn">
            <span class="--icon"><i class="fas fa-angle-right"></i></span>
            <span class="--text">{{ $t('cta.backHome') }}</span>
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
    layout: "error",
    props: ["error"],
    head () {
        return {
            title: this.$t("meta.accueil.title") + this.$t("meta.baseTitle"),
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.$t("meta.accueil.desc")
                },
                {
                    hid: "og:title",
                    name: "og:title",
                    content: this.$t("meta.accueil.title") + this.$t("meta.baseTitle")
                },
                {
                    hid: "og:description",
                    name: "og:description",
                    content: this.$t("meta.accueil.desc")
                },
                { hid: "og:type", name: "og:type", content: "website" },
                {
                    hid: "og:url",
                    name: "og:url",
                    content: this.$t("meta.baseUrl")
                },
                {
                    hid: "og:image",
                    name: "og:image",
                    content: `${this.$t("meta.baseUrl")}/og-FenetresJalmo.png`
                }
            ],
            link: [
                {
                    rel: "canonical",
                    href: this.$t("meta.baseUrl") + this.$route.path
                }
            ]
        };
    }
};
</script>

<style lang="scss" scoped>
section {
    text-align: center;
    padding: 25vw 0;
}

h1 {
  color: #000;
    margin: 0;

    &.fs-error {
        font-size: clamp(4rem, 49vw, 22.625rem);
        line-height: 1;
    }
}
p {
    margin: 0 0 6rem;
}

a {
  margin: 2rem auto;
  max-width: 18rem;
}
</style>
