<template>
  <LocomotiveScroll
    ref="scroller"
    :getted-options="{
      direction: 'vertical',
      reloadOnContextChange: true,
      smartphone: {
        direction: 'vertical',
      },
      tablet: {
        direction: 'vertical',
      },
    }"
  >
<section>
  <h1>
    Homepage
  </h1>
</section>
  </LocomotiveScroll>
</template>

<script>
import locomotive from "~/mixins/locomotive.js";

export default {
    name: "Home",
    mixins: [locomotive],
    head() {
        return {
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: this.$t("meta.accueil.desc"),
                },
                {
                    hid: "og:title",
                    name: "og:title",
                    content: this.$t("meta.accueil.title") + this.$t("meta.baseTitle"),
                },
                {
                    hid: "og:description",
                    name: "og:description",
                    content: this.$t("meta.accueil.desc"),
                },
                { hid: "og:type", name: "og:type", content: "website" },
                {
                    hid: "og:url",
                    name: "og:url",
                    content: this.$t("meta.baseUrl"),
                },
                {
                    hid: "og:image",
                    name: "og:image",
                    content: `${this.$t("meta.baseUrl")}/og-FenetresJalmo.png`,
                },
            ],
            link: [
                {
                    rel: "canonical",
                    href: this.$t("meta.baseUrl") + this.$route.path,
                },
            ],
        };
    },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/main";
</style>
