// ==========================================================================
// Objects / Container
// ==========================================================================

//
// Page-level constraining and wrapping elements.
//
// > In programming languages the word *container* is generally used for structures
// that can contain more than one element.
// > A *wrapper* instead is something that wraps around a single object to provide
// more functionalities and interfaces to it.
// @link http://stackoverflow.com/a/13202141/140357
//

.o-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: rem($padding);
    padding-left: rem($padding);
    max-width: 100%;

    @media (min-width: $from-small) {
        max-width: calc(100.00% - 2rem);
    }

    @media (min-width: $from-medium) {
        max-width: calc(100.00% - 15rem);
    }

    &--small {
    margin-right: auto;
    margin-left: auto;
    padding-right: rem($padding);
    padding-left: rem($padding);
    max-width: rem(1300px + ($padding * 2));
    }

    &.--fw {
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
    }
}
